@import "./_variables";

html,
body {
  color: $c_dark;
  font-size: 16px;
  font-family: $font;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  box-sizing: border-box;
}

.main {
  min-height: calc(100vh - 72px);
  background-color: $c_primary;
  .container {
    min-height: inherit;
    padding: min(1rem, 1vw);
    background-color: $c_light;
    box-shadow: 0 0 10px 1px $c_dark;
  }
  &-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.btn {
  display: inline-block;
  padding: 0.6rem 2rem 0.4rem;
  font-size: min(1.2rem, 3vw);
  color: $c_dark;
  background-color: $c_secondary-light;
  text-decoration: none;
  border: none;
  border-bottom: 3px solid $c_danger-dark;
  outline: none;
  cursor: pointer;
  transition: background-color 0.5s;
  &:hover {
    color: $c_light;
    background-color: $c_danger-dark;
  }
  &.active {
    color: $c_light;
    background-color: $c_danger-dark;
  }
  &.locked {
    background-color: $c_secondary;
    border-color: $c_secondary;
    cursor: wait;
    &:hover {
      color: $c_dark;
      background-color: $c_secondary;
    }
  }
}

@keyframes loading {
  to {
    background-position: -20%;
  }
}
.skeleton {
  background: linear-gradient(
      110deg,
      transparent 40%,
      rgba(255, 255, 255, 0.5) 50%,
      transparent 60%
    )
    #ededed;
  background-size: 200% 100%;
  background-position: 120%;
  animation: 1s loading ease-in-out infinite;
}
