@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

$font: "Roboto", sans-serif;
$c_dark: #24292e;
$c_light: #ffffff;
$c_primary: #46a0ae;
$c_primary-dark: #10366b;
$c_danger: #f75000;
$c_danger-dark: #bf0060;
$c_success: #43b883;
$c_warning: #f2c454;
$c_secondary: #d0d2d6;
$c_secondary-light: #f2f2f2;
